#calculadora{
  font-size: 0;
  background-color: #d3d9e8;
  margin: 0;
  padding: 0;
}

#calculadora * {
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
}

#calculadora div span {
  font-size: 1.25rem;
  color: #808080;
  padding: 0 4%;
  margin-right: 4px;
  border: 1px solid silver;
  box-shadow: 2px 2px 4px #3c3737;
  background-color: #fcffe6;
  cursor: pointer;
  user-select: none;
  transition-duration: 1s;
  float: right;
  width:52px;
}
#calculadora div span:hover {
  background-color: #f0eea9;
  border: 1px solid black;
}

#calculadora .container {
  /* position: absolute; */
  top: 5%;
  left: 50%;
  /* transform: translate(-50%); */
  width: 800px;
}

#calculadora .calc-body > .row:first-child {
  width: 400px;
  position: relative;
  border: 6px solid gray;
}

#calculadora .calc-body {
  display: inline-block;
  width: 400px;
  border: 6px solid gray;
  background-color: gray;
}

#calculadora .row {
  height: 100px;
  width: 100%;
}

#calculadora .button:hover, #calculadora .button2:hover {
  border-top: 4px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 10%;
  filter: brightness(0.95);
}

#calculadora .button, #calculadora .button2 {
  width: 25%;
  height: 100%;
  text-align: center;
  border: 2px solid gray;
  color: #737070;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: bottom;;
  padding-top: 7%;
  cursor: pointer;
}

#calculadora .button2 {
  width: 50%;
}

#calculadora .history-container {
  display: inline-block;
  position: relative;
  left: -200px;
  visibility: hidden;
  width: 200px;
  border: 6px solid gray;
  background-color: gray;
  z-index: -1;
  /*opacity: 0;*/
  transition: visibility 1s, left 1s;
  vertical-align: bottom;
}

#calculadora .h-row {
  height: 50px;
  width: 100%;
  font-size: 1rem;
  overflow: hidden;
}

#calculadora .h-row:nth-child(odd){
  background-color: #ace7ff;
}

#calculadora .h-row:nth-child(even){
  background-color: #b7f8d5;
}

#calculadora .title-row {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  line-height: 50px;
  color: skyblue;
}

#calculadora .num {
    background-color: beige;
}

#calculadora .op {
  background-color: #a9a9f0;
}

#calculadora .calc {
  background-color: #a9f0b2;
}

#calculadora .clr, #calculadora .ext {
  background-color: #f0a9e7;
}

#calculadora .flip, #calculadora .dec {
  background-color: #f0eea9;
}

#calculadora .display {
  width: 100%;
  height: 150px;
  background-color: #99e0f0;
  border: 6px solid gray;
  color: gray;
  font-size: 2rem;
  text-align: right;
  padding: 4%;
  font-family: 'Share Tech Mono', monospace;
  cursor: default;
  overflow: auto;
  border-radius: 10px;
}

#calculadora .display::-webkit-scrollbar-track, #calculadora .modal-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#calculadora .display::-webkit-scrollbar, #calculadora .modal-content::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#calculadora .display::-webkit-scrollbar-thumb, #calculadora .modal-content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#calculadora #info-button2 {
  width: 132px;
  transition: visibility 1s, right 1s;
  visibility: hidden;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: #cef8ff;
  color: grey;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-size: 1.15rem;
  position: relative;
  top: 27%;
  right: 233px;
  z-index: -1;
  position: absolute;
  border: 3px solid gray;
  box-shadow: 0px 0px 0px transparent;
}